h1{
	border-bottom: 1px solid red;
	text-align:center;
}
h1 a {
	color:black;
	text-decoration:none;
}
input {
	margin: 10px;
}
label {
	padding: 10px;
	min-width: 110px;
}
table{
	border: 1px solid black;
	margin:0 auto;
}
th{
	border-bottom: 1px solid black;
	padding:10px;
}
#content{
	border-top: 1px solid black;
	min-height:350px;
	padding: 10px;
}
#footer{
	border-top:1px solid black;
	text-align:center;
}
#menu{
	margin:0 auto;
	width: 90%;
}
#wrapper{
	border:1px black solid;
	margin: 0 auto;
	padding: 20px;
	width: 50%;
}
.button{
	background-color: #BCC6CC;
	border:1px solid black;
	color: black;
	margin-right:10px;
	padding:5px;
	text-decoration:none;
}