h1 {text-align:center;}
form {width:350px;margin:0 auto;padding:15px;}
label {width:150px;display:inline-block;}
input[type=submit] {border-radius:5px;}
table {border:0px black solid;width:810px;}
td {border-bottom:1px black solid;padding:0px;}
th {color:blue; text-align:left; border-bottom:1px black solid; padding:0px;}
.first_col {width:75px !important;	}
th.last_th {width:150px;}
tr.even {background-color:#ddd;}

#container {margin:0 auto;width:830px;}
#container.frontpage {}
.fp-form {border:1px solid black;box-shadow: 10px 10px 5px #888888;}
#table-div {max-height:500px;overflow:auto;}